<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Freelance calculator</title>
    <meta name="description" content="Freelance calculator." />
    <meta name="author" content="Torbjörn Molin" />
    <script src="htmx.min.js"></script>
  </head>
  <body>
    <header>Freelance calculator</header>
    <div>
      <form hx-get="/Calculator" hx-target="#result">
        <input type="number" name="rate" value="850" />
        <input type="number" name="vacationDays" value="30" />
        <button id="submit-button" type="submit">Calculate</button>
      </form>
      <div id="result"></div>
    </div>
    History
    <div
      hx-get="/calculator/history"
      hx-trigger="load, click from:#submit-button"
    ></div>
  </body>
</html>
